.border-class
{
  height:200px;
  width:400px;
  border: 1px solid #ccc;
  overflow:auto;
}

.form-point {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}





